body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

/*img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
} */